.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

.action-bar {
  .action-bar-button {
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    font-size: 20;
  }
}
